*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}

.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    position: fixed;
    background-color: white;
    
    

}
.head-left{
    width: 40%;
}
.head-left img{
    margin-left: 30px;
}
.head-right{
    width: 60%;
    text-align: right;
    
}
.head-right a{
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    transition: 0.7s;
    color: black;
}
.head-right a:hover{
   color:#0d6efd ;
}

#sec1{
    background-image: url(https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg);
    padding: 15rem 0;
   background-size: cover;
   background-position: center;
   text-align: center;
   position: relative;
   z-index: -1;
 }
#sec1 h1{
    font-size: 55px;
}

#sec1 .first h1{
    color: white;
    margin-bottom:40px;
}
#sec1 .first p{
    color: white;
    font-size: 25px;
    margin-bottom:20px;
}
#sec1 .first  a{
    background-color: #6168FF;
    padding: 14px 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.7s;
   
}
#sec1 .first  a:hover{
    background-color: transparent;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
}

.sec2{
    width: 100%;
    display: flex;
    

}
.sec2left{
width: 60%;
margin-left: 30px;
display: flex;
flex-wrap: wrap;
margin-top: 60px;
}
.sec2right{
    width: 40%;
    margin-right: 50px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.sec2left .box{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-right: 10px;
    
}
.sec2left i{
    color: #0d6efd;
    margin-right: 20px;
    margin-bottom: 10px;
}
.sec2left h3{
    margin-bottom: 10px;
}
.sec2left p{
    margin-bottom: 10px;
}
.sec2right img{   
        width:100%;
        height: 90%;  
}



#section3{
    text-align: center;
}
.sec3text{
    position: relative;
    align-items: center;
}
#section3 .sec3text div {
    align-items: center;
    text-align: center;
    display: flex;
    display: inline-block;
}
#section3 .sec3text div h2{
    opacity: 0.2;
    font-size: 73px;
    position: absolute;
    z-index: -1;
    left: 35%;
    top: -20px;
    font-weight: 900;
    margin-right: 40px;
  
}
.sec3text a{
    margin-top: 100px;
    align-items: center;
    display: block;
    margin-top: 30px;
    text-align: center;
}






